@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(0, 0, 0);
  --background-color: #eceff1;
  --form-background: #fff;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  max-width: 100vw !important;
}

@layer utilities {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-white {
    filter: brightness(0) invert(1);
  }
  .filter-black {
    filter: brightness(0);
  }
  .scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #48638e;
    border-radius: 100vh;
    border: 2px solid #f6f7ed;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3a5073;
  }
  @keyframes slideText {
    to {
      transform: translateX(var(--distance));
    }
  }
  .slide {
    animation: slideText var(--duration) linear forwards;
  }
  @media (max-width: 767px) {
    #sidebar[data-open="true"],
    #sidebar[data-open="true"] #close-sidebar {
      display: block;
    }
    #sidebar[data-open="false"] + #sidebar-backdrop {
      display: none;
    }
  }
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
span.linenumber.react-syntax-highlighter-line-number {
  visibility: visible !important;
  color: rgb(100 116 139) !important;
}
input {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #333333;
    --form-background: #203040;
  }
  span.linenumber.react-syntax-highlighter-line-number {
    color: rgb(203 213 225) !important;
  }
}
