@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(0, 0, 0);
  --background-color: #fff;
  --form-background: #fff;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  max-width: 100vw !important;
}

@layer utilities {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filter-white {
    filter: brightness(0) invert(1);
  }
  .filter-black {
    filter: brightness(0);
  }
  .filter-green {
    filter: brightness(0) saturate(100%) invert(65%) sepia(38%) saturate(4607%)
      hue-rotate(76deg) brightness(107%) contrast(134%);
  }
  .filter-red {
    filter: brightness(0) saturate(100%) invert(15%) sepia(86%) saturate(6012%)
      hue-rotate(2deg) brightness(102%) contrast(122%);
  }
  .scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #48638e;
    border-radius: 100vh;
    border: 2px solid #f6f7ed;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3a5073;
  }
  @keyframes slideText {
    to {
      transform: translateX(var(--distance));
    }
  }
  .slide {
    animation: slideText var(--duration) linear forwards;
  }
  @media (max-width: 767px) {
    #sidebar[data-open="true"],
    #sidebar[data-open="true"] #close-sidebar {
      display: block;
    }
    #sidebar[data-open="false"] + #sidebar-backdrop {
      display: none;
    }
  }
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
input {
  outline: none;
}
input:focus-visible {
  outline: none;
}
/* custom styles for the codemirror editor */
.cm-editor {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: inherit;
}
.cm-gutters {
  border-bottom-left-radius: 0.5em;
}
.linenumbers-hidden .cm-gutters {
  display: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #171717;
    --form-background: #203040;
  }
}
